<h1>JOIN THE NEWSLETTER !</h1>

<%= form_for @user do |f| %>
  <div class='form-group'>
  	<div class='form-group'>
    <label><strong>first name</strong></label>
    <center><%= f.text_field :firts_name, class: 'form-control', placeholder: 'first name'%></center>
    <label><strong>Email</strong></label>
    <center><%= f.text_field :email, class: 'form-control', placeholder: 'toto@mail.com'%></center>
  </div>
  <center><button type='submit' class='btn btn-primary'><strong>Save</strong></button></center>
<% end %>
